<head>
    <title><%= title %> - Panel</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js" integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="/ohsnap.js"></script>
    <link rel="stylesheet" href="/alert.css">
</head>

<div id="alerts"></div>
<% if(flash != '{}') {%>
    <%for (let msg in flash) {%>
<script>
    ohSnap('<%= flash[msg] %>', {color: '<%= msg %>'});
</script>
    <%}%>
<%}%>