<nav class="bg-[#24284C] p-3 flex items-center px-32 justfiy-between">
    <a href="/" class="font-semibold text-3xl text-neutral-200 uppercase"><%= panelname %></a>
    <ul class="flex items-center space-x-3">

    </ul>
</nav>